* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.navbar:hover {
    background-color: maroon;
    transition: 2s;
}

.container {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1px auto;
}

.logo a {
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-left: -300px;
    padding-bottom: 88px;
    display: inline-block;
    font-family: Edwardian Script ITC;
}

.menu {
    padding-top: 10px;
}

.menu li {
    display: inline-block;
    box-shadow: 10px 5px 5px maroon;
}

.menu li a:hover {
    color: black;
}

.home .centre {
    color: white;
    margin: auto 120px;
}

.navbar {
    width: 100%;
    background-color: orange;
    position: fixed;
    padding: 15px;
    text-align: center;
    height: 100px;
}

.menu li a {
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-left: 35px;
    transition: maroon 2s;
    font-family: Pristina;
}

.sous {
    display: none;
    position: absolute;
}

.menu li:hover .sous {
    display: block;
}

.sous li {
    font-size: 34px;
    width: 70%;
    text-align: center;
    background-color: maroon;
    margin-left: -40px;
    border: 5px solid maroon;
    color: white;
}

.home {
    display: flex;
    margin-top: 10px;
    background-image: url(free.jpg);
}

.logo a span {
    font-size: 95px;
    font-family: Pristina;
    color: black;
}

.logo a span:hover {
    font-size: 90px;
    color: black;
}

.home .global .text1 {
    font-size: 150px;
    font-weight: 700;
    margin-top: 5%;
    font-family: Edwardian Script ITC;
    color: white;
}

.home .global .text2 {
    font-size: 180px;
    font-weight: 600;
    font-family: Edwardian Script ITC;
    padding-left: 49%;
}

.home .global .text3 span {
    font-size: 160px;
    font-weight: 700;
    font-family: Edwardian Script ITC;
    color: white;
}

h1 {
    font-size: 50px;
    border-radius: 33px dotted;
}

.centre .global {
    margin-top: 15%;
}

.home .global .btn:hover {
    background: yellow;
    color: black;
}

body {
    background-color: ;
}

.equipe {
    text-align: center;
    font-size: 87px;
    font-family: ravie;
    color: crimson;
    padding-top: 55px;
}

.equi {
    text-align: center;
    font-size: 37px;
    font-family: agency fb;
    color: black;
}

.image {
    height: 90px;
    width: 30%;
    border: white solid;
}

.k1 img {
    width: 400px;
    border-radius: 20%;
    height: 400px;
    border: solid maroon 7px;
    box-shadow: 560px;
    box-shadow: 10px 5px 5px maroon;
    margin-top: 15px;
}

.k2 img {
    width: 400px;
    border-radius: 20%;
    height: 400px;
    border: solid green 7px;
    box-shadow: 560px;
    background-color: orange;
    box-shadow: 10px 5px 5px green;
    margin-top: 15px;
}

.k3 img {
    width: 400px;
    border-radius: 20%;
    height: 400px;
    border: solid orange 7px;
    box-shadow: 560px;
    background-color: orange;
    box-shadow: 10px 15px 15px orange;
    margin-top: 15px;
}

.k3 h1 {
    color: black;
}

.k1 h1 {
    color: black;
}

.k2 h1 {
    color: black;
}

table {
    text-align: center;
    width: 100%;
    height: 70%;
    align-content: center;
    margin-bottom: 107px;
}

.new {
    text-align: center;
    font-size: 65px;
    font-family: pristina;
    border: 3px solid orange;
    background-color: orange;
}

.table2 {
    margin-top: 3%;
}

.section4 {
    background-color: ;
    height: 70%;
}

.section4 .centre4 {
    height: 550px;
    width: 100%;
    color: black;
}

.section4 .centre4 .allGauche {
    float: left;
    height: 400px;
    width: 500px;
    margin-left: 50px;
    margin-top: 270px;
}

.mu {
    width: 420px;
    padding-left: 7%;
}

.mu2 {
    padding-left: 70%;
    font-size: 19px;
    padding-top: 10px;
}

.get {
    margin-bottom: 20px;
    font-size: 54px;
    font-family: Chiller;
    color: #FF7F50;
}

.msg {
    float: left;
    margin-left: 200px;
}

.ta {
    color: black;
    font-family: ;
    font-size: 90px;
    font-weight: 669px;
}

.t {
    color: maroon;
    font-family: Pristina;
    font-size: 60px;
    padding-left: 37%;
}

.t1 {
    color: orange;
    font-family: Pristina;
    font-size: 40px;
    border-style: 30px solid white;
    padding-left: 70%;
    margin-bottom: 66%;
}

.t1 p {
    color: black;
}

************************************************************* .final {
    width: 100%;
}

.k img {
    width: 250px;
    border-radius: 20%;
    height: 290px;
    border: solid orange 6px;
    margin-top: 20%;
}

tr .k {
    background-image: url(".jpg");
    width: 34px;
}

footer .final {
    width: 100%;
    height: 100px;
    background-color: orange;
    margin-top: 250px;
    text-align: center;
    color: black;
    font-size: 20px;
}

footer .final p {
    font-family: Arial Black;
}

.formulaire {
    width: 50%;
    margin-left: 25%;
    padding-top: 500px;
}

.formulaire input {
    border: solid 2px;
    width: 50%;
    height: 30px;
}

button {
    color: green;
    border: solid 1px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    margin-top: 5px;
}

label {
    color: maroon;
    font-size: 30px;
}

button:hover {
    background-color: aqua;
    color: black;
}


/* FORMULAIRE DE CONTACT */